body
{
    font-size:                  12px;
    font-family:                Verdana, "Verdana CE", 
                                Arial, "Arial CE",
                                "Lucida Grande CE", lucida,
                                "Helvetica CE", sans-serif;
    color:                      #000000;  
    margin:                     10px;
    background:                 #b8bcc6;  /* Old browsers */
    background:                 -moz-radial-gradient(center, ellipse cover,  #b8bcc6 0%, #727684 100%); /* FF3.6+ */
    background:                 -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b8bcc6), color-stop(100%,#727684)); /* Chrome,Safari4+ */
    background:                 -webkit-radial-gradient(center, ellipse cover,  #b8bcc6 0%,#727684 100%); /* Chrome10+,Safari5.1+ */
    background:                 -o-radial-gradient(center, ellipse cover,  #b8bcc6 0%,#727684 100%); /* Opera 12+ */
    background:                 -ms-radial-gradient(center, ellipse cover,  #b8bcc6 0%,#727684 100%); /* IE10+ */
    background:                 radial-gradient(ellipse at center,  #b8bcc6 0%,#727684 100%); /* W3C */
    filter:                     progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8bcc6', endColorstr='#727684',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    

    /* background:                 #494B66; /* Old browsers */
    /* background:                 -moz-linear-gradient(-45deg,  rgba(77,81,104,0) 0%, rgba(77,81,104,0.8) 5%, rgba(77,81,104,0.93) 10%, rgba(76,80,104,1) 13%, rgba(73,75,102,0.93) 32%, rgba(68,76,99,0.9) 40%, rgba(62,78,96,0.75) 49%, rgba(61,78,96,0.77) 50%, rgba(67,76,99,0.9) 57%, rgba(73,75,102,0.92) 63%, rgba(73,75,102,0.99) 84%, rgba(73,75,102,1) 87%, rgba(73,75,102,0.8) 96%, rgba(73,75,102,0) 100%); /* FF3.6+ */
    /* background:                 -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(77,81,104,0)), color-stop(5%,rgba(77,81,104,0.8)), color-stop(10%,rgba(77,81,104,0.93)), color-stop(13%,rgba(76,80,104,1)), color-stop(32%,rgba(73,75,102,0.93)), color-stop(40%,rgba(68,76,99,0.9)), color-stop(49%,rgba(62,78,96,0.75)), color-stop(50%,rgba(61,78,96,0.77)), color-stop(57%,rgba(67,76,99,0.9)), color-stop(63%,rgba(73,75,102,0.92)), color-stop(84%,rgba(73,75,102,0.99)), color-stop(87%,rgba(73,75,102,1)), color-stop(96%,rgba(73,75,102,0.8)), color-stop(100%,rgba(73,75,102,0))); /* Chrome,Safari4+ */
    /* background:                 -webkit-linear-gradient(-45deg,  rgba(77,81,104,0) 0%,rgba(77,81,104,0.8) 5%,rgba(77,81,104,0.93) 10%,rgba(76,80,104,1) 13%,rgba(73,75,102,0.93) 32%,rgba(68,76,99,0.9) 40%,rgba(62,78,96,0.75) 49%,rgba(61,78,96,0.77) 50%,rgba(67,76,99,0.9) 57%,rgba(73,75,102,0.92) 63%,rgba(73,75,102,0.99) 84%,rgba(73,75,102,1) 87%,rgba(73,75,102,0.8) 96%,rgba(73,75,102,0) 100%); /* Chrome10+,Safari5.1+ */
    /* background:                 -o-linear-gradient(-45deg,  rgba(77,81,104,0) 0%,rgba(77,81,104,0.8) 5%,rgba(77,81,104,0.93) 10%,rgba(76,80,104,1) 13%,rgba(73,75,102,0.93) 32%,rgba(68,76,99,0.9) 40%,rgba(62,78,96,0.75) 49%,rgba(61,78,96,0.77) 50%,rgba(67,76,99,0.9) 57%,rgba(73,75,102,0.92) 63%,rgba(73,75,102,0.99) 84%,rgba(73,75,102,1) 87%,rgba(73,75,102,0.8) 96%,rgba(73,75,102,0) 100%); /* Opera 11.10+ */
    /* background:                 -ms-linear-gradient(-45deg,  rgba(77,81,104,0) 0%,rgba(77,81,104,0.8) 5%,rgba(77,81,104,0.93) 10%,rgba(76,80,104,1) 13%,rgba(73,75,102,0.93) 32%,rgba(68,76,99,0.9) 40%,rgba(62,78,96,0.75) 49%,rgba(61,78,96,0.77) 50%,rgba(67,76,99,0.9) 57%,rgba(73,75,102,0.92) 63%,rgba(73,75,102,0.99) 84%,rgba(73,75,102,1) 87%,rgba(73,75,102,0.8) 96%,rgba(73,75,102,0) 100%); /* IE10+ */
    /* background:                 linear-gradient(135deg,  rgba(77,81,104,0) 0%,rgba(77,81,104,0.8) 5%,rgba(77,81,104,0.93) 10%,rgba(76,80,104,1) 13%,rgba(73,75,102,0.93) 32%,rgba(68,76,99,0.9) 40%,rgba(62,78,96,0.75) 49%,rgba(61,78,96,0.77) 50%,rgba(67,76,99,0.9) 57%,rgba(73,75,102,0.92) 63%,rgba(73,75,102,0.99) 84%,rgba(73,75,102,1) 87%,rgba(73,75,102,0.8) 96%,rgba(73,75,102,0) 100%); /* W3C */
    /* filter:                     progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d5168', endColorstr='#00494b66',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    width:                      100%;
    margin:                     0 auto !important; /* '!important' est important pour écraser la valeur par défaut d'element.style */
    -moz-box-shadow:            0 0 2em #050622;
    -webkit-box-shadow:         0 0 2em #050622;
    box-shadow:                 0 0 2em #050622;
}

.ui-layout-container
{
    background:                 #494B66; /* Old browsers */
    background:                 -moz-linear-gradient(-45deg,  rgba(77,81,104,0) 0%, rgba(77,81,104,0.8) 5%, rgba(77,81,104,0.93) 10%, rgba(76,80,104,1) 13%, rgba(73,75,102,0.93) 32%, rgba(68,76,99,0.9) 40%, rgba(62,78,96,0.75) 49%, rgba(61,78,96,0.77) 50%, rgba(67,76,99,0.9) 57%, rgba(73,75,102,0.92) 63%, rgba(73,75,102,0.99) 84%, rgba(73,75,102,1) 87%, rgba(73,75,102,0.8) 96%, rgba(73,75,102,0) 100%); /* FF3.6+ */
    background:                 -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(77,81,104,0)), color-stop(5%,rgba(77,81,104,0.8)), color-stop(10%,rgba(77,81,104,0.93)), color-stop(13%,rgba(76,80,104,1)), color-stop(32%,rgba(73,75,102,0.93)), color-stop(40%,rgba(68,76,99,0.9)), color-stop(49%,rgba(62,78,96,0.75)), color-stop(50%,rgba(61,78,96,0.77)), color-stop(57%,rgba(67,76,99,0.9)), color-stop(63%,rgba(73,75,102,0.92)), color-stop(84%,rgba(73,75,102,0.99)), color-stop(87%,rgba(73,75,102,1)), color-stop(96%,rgba(73,75,102,0.8)), color-stop(100%,rgba(73,75,102,0))); /* Chrome,Safari4+ */
    background:                 -webkit-linear-gradient(-45deg,  rgba(77,81,104,0) 0%,rgba(77,81,104,0.8) 5%,rgba(77,81,104,0.93) 10%,rgba(76,80,104,1) 13%,rgba(73,75,102,0.93) 32%,rgba(68,76,99,0.9) 40%,rgba(62,78,96,0.75) 49%,rgba(61,78,96,0.77) 50%,rgba(67,76,99,0.9) 57%,rgba(73,75,102,0.92) 63%,rgba(73,75,102,0.99) 84%,rgba(73,75,102,1) 87%,rgba(73,75,102,0.8) 96%,rgba(73,75,102,0) 100%); /* Chrome10+,Safari5.1+ */
    background:                 -o-linear-gradient(-45deg,  rgba(77,81,104,0) 0%,rgba(77,81,104,0.8) 5%,rgba(77,81,104,0.93) 10%,rgba(76,80,104,1) 13%,rgba(73,75,102,0.93) 32%,rgba(68,76,99,0.9) 40%,rgba(62,78,96,0.75) 49%,rgba(61,78,96,0.77) 50%,rgba(67,76,99,0.9) 57%,rgba(73,75,102,0.92) 63%,rgba(73,75,102,0.99) 84%,rgba(73,75,102,1) 87%,rgba(73,75,102,0.8) 96%,rgba(73,75,102,0) 100%); /* Opera 11.10+ */
    background:                 -ms-linear-gradient(-45deg,  rgba(77,81,104,0) 0%,rgba(77,81,104,0.8) 5%,rgba(77,81,104,0.93) 10%,rgba(76,80,104,1) 13%,rgba(73,75,102,0.93) 32%,rgba(68,76,99,0.9) 40%,rgba(62,78,96,0.75) 49%,rgba(61,78,96,0.77) 50%,rgba(67,76,99,0.9) 57%,rgba(73,75,102,0.92) 63%,rgba(73,75,102,0.99) 84%,rgba(73,75,102,1) 87%,rgba(73,75,102,0.8) 96%,rgba(73,75,102,0) 100%); /* IE10+ */
    background:                 linear-gradient(135deg,  rgba(77,81,104,0) 0%,rgba(77,81,104,0.8) 5%,rgba(77,81,104,0.93) 10%,rgba(76,80,104,1) 13%,rgba(73,75,102,0.93) 32%,rgba(68,76,99,0.9) 40%,rgba(62,78,96,0.75) 49%,rgba(61,78,96,0.77) 50%,rgba(67,76,99,0.9) 57%,rgba(73,75,102,0.92) 63%,rgba(73,75,102,0.99) 84%,rgba(73,75,102,1) 87%,rgba(73,75,102,0.8) 96%,rgba(73,75,102,0) 100%); /* W3C */
    filter:                     progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d5168', endColorstr='#00494b66',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1
{
    font-family:                Arial, "Arial CE",
                                "Lucida Grande CE", lucida,
                                "Helvetica CE", sans-serif;
    border-bottom:              1px solid #AFAFAF; 
    font-size:                  16px;
    font-weight:                bold;
    margin:                     0px;
    padding:                    0px;
    color:                      #D20005;
}

.tabheader
{
    font-family:                Arial, "Arial CE",
                                "Lucida Grande CE", lucida,
                                "Helvetica CE", sans-serif;
    border-bottom:              1px solid #AFAFAF;
    font-size:                  1em;
    font-weight:                bold;
    padding:                    0px;
    padding-left:               8px;
    padding-bottom:             2px;
    border-bottom-left-radius:  10px;
    color:                      #620005;
    display:                    block;
    margin:                     5px 0 !important;
    background:                 -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(66,66,66,0) 73%, rgba(91,91,91,0.34) 100%); /* FF3.6+ */
    background:                 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(73%,rgba(66,66,66,0)), color-stop(100%,rgba(91,91,91,0.34))); /* Chrome,Safari4+ */
    background:                 -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(66,66,66,0) 73%,rgba(91,91,91,0.34) 100%); /* Chrome10+,Safari5.1+ */
    background:                 -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(66,66,66,0) 73%,rgba(91,91,91,0.34) 100%); /* Opera 11.10+ */
    background:                 -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(66,66,66,0) 73%,rgba(91,91,91,0.34) 100%); /* IE10+ */
    background:                 linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(66,66,66,0) 73%,rgba(91,91,91,0.34) 100%); /* W3C */
    filter:                     progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#575b5b5b',GradientType=0 ); /* IE6-9 */
}

h3
{
    font-size:                  1.17em !important;
}

a:link, a:visited
{
  color:                        #045491;
  font-weight:                  bold;
  text-decoration:              none;
}

a:link:hover, a:visited:hover 
{
  color:                        #045491;
  font-weight:                  bold;
  text-decoration:              underline;
}

#javax_faces_developmentstage_messages
{
    display:                    none;
}

.textarea-field
{
    max-width:                  500px;
    min-width:                  147px;
}

#header, #footer
{
    background:                 0;
/*    background:                 #494B66;   Old browsers 
    background:                 -moz-linear-gradient(-45deg,  rgba(77,81,104,0) 0%, rgba(77,81,104,0.8) 5%, rgba(77,81,104,0.93) 10%, rgba(76,80,104,1) 13%, rgba(73,75,102,0.93) 32%, rgba(68,76,99,0.9) 40%, rgba(62,78,96,0.75) 49%, rgba(61,78,96,0.77) 50%, rgba(67,76,99,0.9) 57%, rgba(73,75,102,0.92) 63%, rgba(73,75,102,0.99) 84%, rgba(73,75,102,1) 87%, rgba(73,75,102,0.8) 96%, rgba(73,75,102,0) 100%);  FF3.6+ 
    background:                 -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(77,81,104,0)), color-stop(5%,rgba(77,81,104,0.8)), color-stop(10%,rgba(77,81,104,0.93)), color-stop(13%,rgba(76,80,104,1)), color-stop(32%,rgba(73,75,102,0.93)), color-stop(40%,rgba(68,76,99,0.9)), color-stop(49%,rgba(62,78,96,0.75)), color-stop(50%,rgba(61,78,96,0.77)), color-stop(57%,rgba(67,76,99,0.9)), color-stop(63%,rgba(73,75,102,0.92)), color-stop(84%,rgba(73,75,102,0.99)), color-stop(87%,rgba(73,75,102,1)), color-stop(96%,rgba(73,75,102,0.8)), color-stop(100%,rgba(73,75,102,0)));  Chrome,Safari4+ 
    background:                 -webkit-linear-gradient(-45deg,  rgba(77,81,104,0) 0%,rgba(77,81,104,0.8) 5%,rgba(77,81,104,0.93) 10%,rgba(76,80,104,1) 13%,rgba(73,75,102,0.93) 32%,rgba(68,76,99,0.9) 40%,rgba(62,78,96,0.75) 49%,rgba(61,78,96,0.77) 50%,rgba(67,76,99,0.9) 57%,rgba(73,75,102,0.92) 63%,rgba(73,75,102,0.99) 84%,rgba(73,75,102,1) 87%,rgba(73,75,102,0.8) 96%,rgba(73,75,102,0) 100%);  Chrome10+,Safari5.1+ 
    background:                 -o-linear-gradient(-45deg,  rgba(77,81,104,0) 0%,rgba(77,81,104,0.8) 5%,rgba(77,81,104,0.93) 10%,rgba(76,80,104,1) 13%,rgba(73,75,102,0.93) 32%,rgba(68,76,99,0.9) 40%,rgba(62,78,96,0.75) 49%,rgba(61,78,96,0.77) 50%,rgba(67,76,99,0.9) 57%,rgba(73,75,102,0.92) 63%,rgba(73,75,102,0.99) 84%,rgba(73,75,102,1) 87%,rgba(73,75,102,0.8) 96%,rgba(73,75,102,0) 100%);  Opera 11.10+ 
    background:                 -ms-linear-gradient(-45deg,  rgba(77,81,104,0) 0%,rgba(77,81,104,0.8) 5%,rgba(77,81,104,0.93) 10%,rgba(76,80,104,1) 13%,rgba(73,75,102,0.93) 32%,rgba(68,76,99,0.9) 40%,rgba(62,78,96,0.75) 49%,rgba(61,78,96,0.77) 50%,rgba(67,76,99,0.9) 57%,rgba(73,75,102,0.92) 63%,rgba(73,75,102,0.99) 84%,rgba(73,75,102,1) 87%,rgba(73,75,102,0.8) 96%,rgba(73,75,102,0) 100%);  IE10+ 
    background:                 linear-gradient(135deg,  rgba(77,81,104,0) 0%,rgba(77,81,104,0.8) 5%,rgba(77,81,104,0.93) 10%,rgba(76,80,104,1) 13%,rgba(73,75,102,0.93) 32%,rgba(68,76,99,0.9) 40%,rgba(62,78,96,0.75) 49%,rgba(61,78,96,0.77) 50%,rgba(67,76,99,0.9) 57%,rgba(73,75,102,0.92) 63%,rgba(73,75,102,0.99) 84%,rgba(73,75,102,1) 87%,rgba(73,75,102,0.8) 96%,rgba(73,75,102,0) 100%);  W3C 
    filter:                     progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d5168', endColorstr='#00494b66',GradientType=1 );  IE6-9 fallback on horizontal gradient */
}

#header .ui-layout-unit-content, #footer .ui-layout-unit-content
{
    color:                      #FFFFFF;
    background:                 0;
    text-shadow:                0px 1px 0px rgba(255,255,255,0.7);
}

#header h1
{
    position:                   absolute;
    border:                     0;
    width:                      100%;
    font-variant:               small-caps;
    margin:                     5px 0 0;
    color:                      #E6E6E6;
    font-size:                  4em;
    text-shadow:                1px 1px #555555,
                                -1px -1px #F8F8F8,
                                1px -1px #555555,
                                -1px 1px #555555,
                                0.1em 0.1em 0.2em #000000;
    z-index:                    0;
}

#logo
{
    position:                   absolute;
    float:                      left;
    height:                     80px;
    margin-left:                20px;
    -webkit-border-radius:      5px;
    -moz-border-radius:         5px;
    border-radius:              5px;
    z-index:                    1;
    opacity:                    0.95 !important;
}

#header div .ui-panel
{
    float:                      right;
    position:                   relative;
    margin-right:               20px;
    background:                 #c4c4c4; /* Old browsers */
    background:                 -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(216,216,216,0.8) 79%, rgba(188,188,188,0.77) 90%, rgba(150,150,150,0.75) 100%); /* FF3.6+ */
    background:                 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,1)), color-stop(79%,rgba(216,216,216,0.8)), color-stop(90%,rgba(188,188,188,0.77)), color-stop(100%,rgba(150,150,150,0.75))); /* Chrome,Safari4+ */
    background:                 -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(216,216,216,0.8) 79%,rgba(188,188,188,0.77) 90%,rgba(150,150,150,0.75) 100%); /* Chrome10+,Safari5.1+ */
    background:                 -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(216,216,216,0.8) 79%,rgba(188,188,188,0.77) 90%,rgba(150,150,150,0.75) 100%); /* Opera 11.10+ */
    background:                 -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(216,216,216,0.8) 79%,rgba(188,188,188,0.77) 90%,rgba(150,150,150,0.75) 100%); /* IE10+ */
    background:                 linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(216,216,216,0.8) 79%,rgba(188,188,188,0.77) 90%,rgba(150,150,150,0.75) 100%); /* W3C */
    filter:                     progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bf969696',GradientType=0 ); /* IE6-9 */

}

.blue_icon .ui-icon
{
    background-image:           url("/Administration/javax.faces.resource/images/ui-icons_2e83ff_256x240.png.xhtml?ln=primefaces-aristo") !important;
}

.red_icon .ui-icon
{
    background-image:           url("/Administration/javax.faces.resource/images/ui-icons_cd0a0a_256x240.png.xhtml?ln=primefaces-aristo") !important;
}

#growl_container .ui-growl-icon-close,
#clientCreate\:growlWizard_container .ui-growl-icon-close,
#clientUpdate\:growlWizard_container .ui-growl-icon-close
{
    background-image:           url("/Administration/javax.faces.resource/images/ui-icons_cd0a0a_256x240.png.xhtml?ln=primefaces-aristo");
}

#growl_container,
#clientCreate\:growlWizard_container,
#clientUpdate\:growlWizard_container
{
    /*margin:                     0 auto;*/
    margin-right:               0px;
}

#growl_container .ui-growl-icon-close:hover,
#growl_container .ui-growl-icon-close:focus,
#clientCreate\:growlWizard_container .ui-growl-icon-close:hover,
#clientCreate\:growlWizard_container .ui-growl-icon-close:focus,
#clientUpdate\:growlWizard_container .ui-growl-icon-close:hover,
#clientUpdate\:growlWizard_container .ui-growl-icon-close:focus
{
    background-color:           rgba(100,0,0,0.6);
}

#growl_container .ui-growl-icon-close:active,
#clientCreate\:growlWizard_container .ui-growl-icon-close:active,
#clientUpdate\:growlWizard_container .ui-growl-icon-close:active
{
    background-color:           rgba(255,100,100,0.8);
}

.ui-layout-center .ui-layout-unit-content
{
    margin:                     auto;
    margin-top:                 0;
    padding-top:                0 !important;
}

.ui-layout-center .ui-layout-unit-header
{
    border-bottom-left-radius:  0px;
    border-bottom-right-radius: 0px;
    font-size:                  1.2em;
}

.ui-layout-center .insert-content
{
    padding:                    15px 60px;
    border:                     solid 1px #A8A8A8;
    border-top:                 none;
    border-radius:              0px 0px 3px 3px;
    margin:                     0 auto;
}

.buttons_panel
{
    padding-top:                25px;
    padding-bottom:             5px;
    display:                    block;
}

.ui-outputlabel-rfi,
.red-star
{
    color:                      #FF0000;
    font-weight:                bold;
}

.ui-layout-center .insert-content button
{
    margin-right:               5px !important;
    margin-left:                5px !important;
}

#menu_right-resizer,
#menu-resizer
{
    background:                 0;
    border:                     none;
}

.ui-widget-content .fields
{
    color:                      #313131 !important;
    font-weight:                bold !important;
}

.ui-widget-content .label
{
    vertical-align:             top !important;
}

.full_table
{
    width:                      100%;   
}

.full_table tr td
{
    vertical-align:             top !important;
}

.textarea_primefaces_display
{
    color:                      #313131 !important;
    padding:                    4px !important;
    border:                     1px solid #a8a8a8;
    box-shadow:                 inset 0 2px 2px #8f8f8f;
    -moz-box-shadow:            inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow:         inset 0 2px 2px #8f8f8f;
    font-weight:                bold !important;
    text-shadow:                rgba(255, 255, 255, 0.7) 0px 1px 0px;
    word-wrap:                  normal !important;
    border-radius:              3px !important;
    min-width:                  147px;
    max-width:                  500px;
    width:                      100%;
    min-height:                 200px;
    max-height:                 500px;
}

.textarea_primefaces_display:hover,
.textarea_min:hover,
.textarea_auto:hover
{
    border:                     1px solid #7096ab !important;
}

.textarea_primefaces_display:focus,
.textarea_min:focus,
.textarea_auto:focus
{
    box-shadow:                 0 0 5px #85b2cb,inset 0 2px 2px #8f8f8f;
    -moz-box-shadow:            0 0 5px #85b2cb,inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow:         0 0 5px #85b2cb,inset 0 2px 2px #8f8f8f;
}

.textarea_min
{
    color:                      #313131 !important;
    padding:                    4px !important;
    border:                     1px solid #a8a8a8;
    box-shadow:                 inset 0 2px 2px #8f8f8f;
    -moz-box-shadow:            inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow:         inset 0 2px 2px #8f8f8f;
    font-weight:                bold !important;
    text-shadow:                rgba(255, 255, 255, 0.7) 0px 1px 0px;
    word-wrap:                  normal !important;
    border-radius:              3px !important;
    min-width:                  100px !important;
    max-width:                  500px !important;
    min-height:                 30px !important;
    max-height:                 500px !important;
    width:                      80% !important;
}

.textarea_auto
{
    color:                      #313131 !important;
    padding:                    4px !important;
    border:                     1px solid #a8a8a8;
    box-shadow:                 inset 0 2px 2px #8f8f8f;
    -moz-box-shadow:            inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow:         inset 0 2px 2px #8f8f8f;
    font-weight:                bold !important;
    text-shadow:                rgba(255, 255, 255, 0.7) 0px 1px 0px;
    word-wrap:                  normal !important;
    border-radius:              3px !important;
    min-width:                  147px !important;
    max-width:                  500px !important;
    min-height:                 147px !important;
    max-height:                 500px !important;
    width:                      100% !important;
}

.ui-wizard-step-titles
{
    background:                 -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(66,66,66,0) 73%, rgba(91,91,91,0.34) 100%); /* FF3.6+ */
    background:                 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(73%,rgba(66,66,66,0)), color-stop(100%,rgba(91,91,91,0.34))); /* Chrome,Safari4+ */
    background:                 -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(66,66,66,0) 73%,rgba(91,91,91,0.34) 100%); /* Chrome10+,Safari5.1+ */
    background:                 -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(66,66,66,0) 73%,rgba(91,91,91,0.34) 100%); /* Opera 11.10+ */
    background:                 -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(66,66,66,0) 73%,rgba(91,91,91,0.34) 100%); /* IE10+ */
    background:                 linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(66,66,66,0) 73%,rgba(91,91,91,0.34) 100%); /* W3C */
    filter:                     progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#575b5b5b',GradientType=0 ); /* IE6-9 */
}

.ui-wizard-step-titles li
{
    border-top-left-radius:     10px !important;
    border-top-right-radius:    10px !important;
}

.ui-wizard
{
    border:                     1px solid #A8A8A8 !important;
    border-top:                 none !important;
    border-radius:              3px !important;
    border-top-left-radius:     10px !important;
    border-top-right-radius:    10px !important;
}

.ui-datatable-even.sleeping_elmt
{
    color:                      #4f4f4f !important;
    background-color:           #AFAFBF !important;
}

.ui-datatable-odd.sleeping_elmt
{
    color:                      #4f4f4f !important;
    background-color:           #AFAFAF !important;
}