body
{
    background-color:           #ffffff;
    font-size:                  12px;
    font-family:                Verdana, "Verdana CE", 
                                Arial, "Arial CE",
                                "Lucida Grande CE", lucida,
                                "Helvetica CE", sans-serif;
    color:                      #000000;  
    margin:                     10px;
    background:                 #b8bcc6; /* Old browsers */
    background:                 -moz-radial-gradient(center, ellipse cover,  #b8bcc6 0%, #727684 100%); /* FF3.6+ */
    background:                 -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b8bcc6), color-stop(100%,#727684)); /* Chrome,Safari4+ */
    background:                 -webkit-radial-gradient(center, ellipse cover,  #b8bcc6 0%,#727684 100%); /* Chrome10+,Safari5.1+ */
    background:                 -o-radial-gradient(center, ellipse cover,  #b8bcc6 0%,#727684 100%); /* Opera 12+ */
    background:                 -ms-radial-gradient(center, ellipse cover,  #b8bcc6 0%,#727684 100%); /* IE10+ */
    background:                 radial-gradient(ellipse at center,  #b8bcc6 0%,#727684 100%); /* W3C */
    filter:                     progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8bcc6', endColorstr='#727684',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

h1
{
    font-family:                Arial, "Arial CE",
                                "Lucida Grande CE", lucida,
                                "Helvetica CE", sans-serif;
    border-bottom:              1px solid #AFAFAF; 
    font-size:                  16px;
    font-weight:                bold;
    margin:                     0px;
    padding:                    0px;
    color:                      #D20005;
}

a:link, a:visited
{
  color:                        #045491;
  font-weight:                  bold;
  text-decoration:              none;
}

a:link:hover, a:visited:hover 
{
  color:                        #045491;
  font-weight:                  bold;
  text-decoration:              underline;
}

#javax_faces_developmentstage_messages
{
    display:                    none;
}

.textarea-field
{
    max-width:                  500px;
    min-width:                  147px;
}

#header, #footer
{
    background:                 #727684; /* Old browsers */
    background:                 -moz-linear-gradient(top,  #727684 0%, #63656b 100%); /* FF3.6+ */
    background:                 -webkit-gradient(linear, left top, left bottom, color-stop(0%,#727684), color-stop(100%,#63656b)); /* Chrome,Safari4+ */
    background:                 -webkit-linear-gradient(top,  #727684 0%,#63656b 100%); /* Chrome10+,Safari5.1+ */
    background:                 -o-linear-gradient(top,  #727684 0%,#63656b 100%); /* Opera 11.10+ */
    background:                 -ms-linear-gradient(top,  #727684 0%,#63656b 100%); /* IE10+ */
    background:                 linear-gradient(to bottom,  #727684 0%,#63656b 100%); /* W3C */
    filter:                     progid:DXImageTransform.Microsoft.gradient( startColorstr='#727684', endColorstr='#63656b',GradientType=0 ); /* IE6-9 */
}

#header .ui-layout-unit-content, #footer .ui-layout-unit-content
{
    color:                      #FFFFFF;
    background:                 0;
}

#header h1
{
    position:                   absolute;
    border:                     0;
    width:                      100%;
    font-variant:               small-caps;
    margin:                     5px 0 0;
    color:                      #E6E6E6;
    font-size:                  4em;
    text-shadow:                1px 1px #555555,
                                -1px -1px #F8F8F8,
                                1px -1px #555555,
                                -1px 1px #555555,
                                0.1em 0.1em 0.2em #000000;
}

#logo
{
    position:                   absolute;
    float:                      left;
    height:                     80px;
    margin-left:                20px;
    -webkit-border-radius:      5px;
    -moz-border-radius:         5px;
    border-radius:              5px;
}

#header div .ui-panel
{
    float:                      right;
    position:                   relative;
    margin-right:               20px;
    background:                 #c4c4c4; /* Old browsers */
    background:                 -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(216,216,216,0.8) 79%, rgba(188,188,188,0.77) 90%, rgba(150,150,150,0.75) 100%); /* FF3.6+ */
    background:                 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,1)), color-stop(79%,rgba(216,216,216,0.8)), color-stop(90%,rgba(188,188,188,0.77)), color-stop(100%,rgba(150,150,150,0.75))); /* Chrome,Safari4+ */
    background:                 -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(216,216,216,0.8) 79%,rgba(188,188,188,0.77) 90%,rgba(150,150,150,0.75) 100%); /* Chrome10+,Safari5.1+ */
    background:                 -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(216,216,216,0.8) 79%,rgba(188,188,188,0.77) 90%,rgba(150,150,150,0.75) 100%); /* Opera 11.10+ */
    background:                 -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(216,216,216,0.8) 79%,rgba(188,188,188,0.77) 90%,rgba(150,150,150,0.75) 100%); /* IE10+ */
    background:                 linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(216,216,216,0.8) 79%,rgba(188,188,188,0.77) 90%,rgba(150,150,150,0.75) 100%); /* W3C */
    filter:                     progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bf969696',GradientType=0 ); /* IE6-9 */

}

.ui-state-default .ui-icon
{
	background-image:url("/Administration/javax.faces.resource/images/ui-icons_cd0a0a_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon
{
	background-image:url("/Administration/javax.faces.resource/images/ui-icons_cd0a0a_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-state-active .ui-icon
{
	background-image:url("/Administration/javax.faces.resource/images/ui-icons_cd0a0a_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-state-highlight .ui-icon, .ui-state-highlight .ui-icon:hover, .ui-state-highlight .ui-icon:focus, .ui-state-highlight .ui-icon:selected 
{
	background-image:url("/Administration/javax.faces.resource/images/ui-icons_cd0a0a_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon
{
	background-image:url("/Administration/javax.faces.resource/images/ui-icons_cd0a0a_256x240.png.xhtml?ln=primefaces-aristo");
}